.idea/
build
gradle
.txt
.json
.gradle
.yml
src/main/java/collections
src/main/java/configuration
src/main/java/controllers/TestController
src/main/java/io
src/main/java/JsonApp/GitRepository
src/main/java/MongoDbTest
src/main/java/Weather/CurlTest
src/main/java/Weather/Main
src/main/java/Main
src/main/java/Methods
src/main/java/UserTestCase
